#coaching {
  background-color: $yellow-color;
  width: 100%;
  padding: 50px;
  color: $white-color;

  h2 {
    font-size: 37px;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }

  button {
    padding: 10px 25px;
    color: $white-color;
    &:hover{
      color: $yellow-color;
    }

   }
}
